html, body {
  background: $color-background;
  color: $color-text;
  user-select: none;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
}

a {
  // 取消下划线
  text-decoration: none;
  // 点击不要背景颜色
  -webkit-tap-highlight-color: transparent;
}
